html {
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
}
body {
    margin: 0;
}
.main{
    width: 100%;
    min-height:2000px;
    margin:0 auto;
    background-color: #f9f9fb;
}
.flex{
    display:flex;
    flex-direction: row;
}
.section_content {
    max-width:1000px;
    margin:auto;
}
section, footer{
    width: 100%;
    margin: 0px;
}
section.home{
    background: url('../img/img1.png') no-repeat center/cover;
    height: 100vh;
}
header{
    justify-content: space-between;
    align-items: center;
    height: 130px;
}
header img{
    width: 115px;
    padding-right: 40px;
}
nav{
    width: 600px;
    padding: 0 30px;
}
nav a div {
    line-height: 50px;
    text-align: center;
}

.nav_box a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    width: 100px;
    height: 50px;
}
.aboutus{
    background-color: #01b1b1;
}
.services{
    background-color: #70c0ff;
}
.gallery{
    background-color: #fee92e;
}
.blog{
    background-color: #b07cf8;
}
footer{
    background-color: #262626;
}